<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stanford_iOS_10_Imaginarium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B09DF0671D2F551300462F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B09DF0801D2F551300462F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B09DF08B1D2F551300462F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
